<app-navbar></app-navbar><br><br>
<div *ngIf='token'>
  <div class="container" *ngIf="!template && !commonTemplate">
    <div class="row">
        <div class="col-xs-18 col-md-12">
          <h5>Templates</h5>
          <ul *ngFor =" let name of templates">
            <li *ngIf="name"><a [routerLink]="['child', name.name]" class="order" >{{name.name}}</a></li>

          </ul>
          <h5>Common Templates</h5>
          <ul *ngFor = "let common of commonEmailTemplates" >
            <li *ngIf="common"><p class="order" (click)='getOneCommonEmailTemplate(common.name)' >{{common?.name}}</p></li>
          </ul>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>

  <div class="container formet" *ngIf="template && !Prewiew">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Edit template: {{getOnetemplate?.name}}</h3>
        </div>
        <div class="panel-body">

            <form>
                <div class="form-group">
                    <label>Subject</label>
                    <input class="form-control"  #subject type="text" value="{{getOnetemplate.subject}}">
                </div>

                <div class="form-group">
                    <label>From name</label>
                    <input name="from_name" class="form-control" #from_name type="text" value="{{getOnetemplate.from_name}}">
                </div>

                <div class="form-group">
                    <label>From email</label>
                    <input name="from_email" class="form-control" #from_email type="text" value="{{getOnetemplate.from_email}}">
                </div>

                <div class="form-group">
                    <label>Text</label>
                    <textarea rows="10" class="form-control" #text name="text">{{getOnetemplate?.text}}</textarea>
                </div>

                <div class="form-group">
                    <label>Html</label>
                    <textarea rows="10" class="form-control" #html name="html">{{getOnetemplate?.html}}</textarea>
                </div>

                        <button (click)="updateTemplate(subject.value, from_name.value, from_email.value, text.value, html.value, getOnetemplate.name)" type="submit" class="btn btn-default">Save
                        </button>
                        <a (click)="toPrewiew(getOnetemplate.name)"> preview </a>   {{save}}
            </form>
        </div>
    </div>

  </div>

  <div class="container" *ngIf="commonTemplate">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Edit template: {{commontemplate.name}}</h3>
      </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
                <label>Content</label>
                <textarea rows="30" class="form-control" #content name="text">{{commontemplate?.content}}</textarea>
            </div>
            <button (click)="updateCommonTemplate(content.value, commontemplate.name )" type="submit" class="btn btn-default">Save</button> {{save}}
          </form>
        </div>
    </div>
  </div>



  <div class="panel panel-default Prewiew" *ngIf="Prewiew">
      <div class="panel-heading">
          <h6 class="panel-title">Preview template:{{name1}}</h6>
      </div>
      <div class="panel-body">
          <form class="form-inline" role="form" id="order_id_form">
              <div class="form-group">
                  <input name="order_id" type="text" class="form-control" placeholder="order id" #name>
              </div>
              <button type="submit" class="btn btn-default" (click)= "gettemp(name.value)">Preview</button>
          </form>
      </div>
  </div>




  <div class="container" *ngIf="getOrderValue">
      <br>
      <div class="form-group">
          <label>Text</label>
          <p id="getOne" rows="10" class="form-control" #text name="text">{{getOnetemplate?.text}}</p>
      </div>

      <div class="form-group">
          <label>Html</label>
          <p rows="10" class="form-control" #html name="html">{{getOnetemplate?.html}}</p>
      </div>

  </div>

</div>
