<app-product-navbar></app-product-navbar>
<br>
<div class="container">
  <form class="form-horizontal ng-scope ng-valid ng-dirty" role="form" #form="ngForm">
    <div class="form-group">
      <div class="col-sm-10">
        <tr>
          <td class="td-style">
            <label><b>Product ID</b></label>
          </td>
          <td>
            <input type="text" class="form-control ng-pristine ng-valid"  readonly="true"  id="productId"  placeholder="Auto Assigned"   >
          </td>
        </tr>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <tr>
          <td class="td-style">
            <label ><b>Legacy Product ID</b></label>
          </td>
          <td>
            <input type="text" class="form-control ng-pristine ng-valid"  id="productId" name="legacyProduct" placeholder="Legacy Product ID" [(ngModel)]="legacyProduct"  >
          </td>
        </tr>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <tr>
          <td>
            <label ><b>Name</b></label>
          </td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <td>
            <select  class="option11" name="selectName" [(ngModel)]="selectName" placeholder="Name">
              <option value="" disabled selected="selected">Please Choose...</option>
              <option class="col-sm-2" *ngFor="let names of names" [ngValue]="names.name">{{names.name}}</option>
            </select>
          </td>
        </tr>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <tr>
          <td >
            <label ><b>Frame color</b></label>
          </td>&nbsp;&nbsp;&nbsp;&nbsp;
          <td>
            <select  class="option11"  name="selectFrame" [(ngModel)]="selectFrame">
              <option class="col-sm-2" *ngFor="let frames of response"  [ngValue]="frames.name">{{frames.name}}</option>
            </select>
          </td>
        </tr>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <tr>
          <td>
            <label ><b>Lens color</b></label>
          </td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <td>
            <select  class="option11"  name="Lencolor" [(ngModel)]="Lencolor">
              <option class="col-sm-2" *ngFor="let lens of responseData"  [ngValue]="lens.id">{{lens.name}}</option>
            </select>
          </td>
        </tr>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <tr>
          <td >
            <label ><b>Product-Type</b></label>
          </td>&nbsp;&nbsp;
          <td>
            <select  class="option11"  name="productType" [(ngModel)]="productType">
              <option class="col-sm-2"  *ngFor="let templates of template"  [ngValue]="templates.id">{{templates.name}}</option>
            </select>
          </td>
        </tr>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-10">
        <tr>
          <td >
            <label ><b>Gender</b></label>
          </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <td>
            <select  class="option11" name="gender" [(ngModel)]="gender">
              <option class="col-sm-2"  [ngValue]='2'>WOMEN</option>
              <option class="col-sm-2" [ngValue]='1'>MENS</option>
              <option class="col-sm-2" [ngValue]='0'>UNISEX</option>
            </select>
          </td>
        </tr>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <tr>
          <td >
            <label ><b>Tags</b></label>
          </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <td>
            <select  class="option11"  name="tags" [(ngModel)]="tags">
              <option class="col-sm-2"  *ngFor="let tag of tags"  [ngValue]="tag">{{tag}}</option>
            </select>
          </td>
        </tr>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-10">
        <tr>
          <td class="td-style">
            <label ><b>Description</b></label>
          </td>
          <td>
            <textarea type="textarea" class="form-control ng-pristine ng-valid"  id="productId" name= "description" placeholder="Description"  [(ngModel)]="description" >
            </textarea>
          </td>
        </tr>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <tr>
          <td>
            <label ><b>Assests group</b></label>
          </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <td>
            <select  class="option11"  name="assets" [(ngModel)]="assets">
              <option class="col-sm-2"  *ngFor="let asset of assets"  [ngValue]="asset">{{asset}}</option>
            </select>
          </td>
        </tr>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <tr>
          <td class="td-style">
            <label ><b>Product Details</b></label>
          </td>
          <td>
            <input type="text" class="form-control ng-pristine ng-valid"  id="productId" name="Details" placeholder="Product Details" [(ngModel)]="Details" >
          </td>
        </tr>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <tr>
          <td class="td-style">
            <label ><b>Social Id</b></label>
          </td>
          <td>
            <input type="text" class="form-control ng-pristine ng-valid"  id="productId" name= "social_id" placeholder="Social Id" [(ngModel)]="social_id">
          </td>
        </tr>
      </div>
    </div>

    <br>
    <fieldset>
      <h3>Prices</h3>
      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>No_LENS</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" name= "NO_LENS" placeholder="No LENS" [(ngModel)]="NO_LENS">
            </td>
          </tr>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>STANDARD_INDEX_LENS</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" name= "STANDARD_INDEX_LENS" placeholder="STANDARD_INDEX_LENS" [(ngModel)]="STANDARD_INDEX_LENS">
            </td>
          </tr>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>HIGH_INDEX_LENS</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" name= "HIGH_INDEX_LENS" placeholder="HIGH_INDEX_LENS" [(ngModel)]="HIGH_INDEX_LENS">
            </td>
          </tr>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>RX_SUN_LENS</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" name= "RX_SUN_LENS" placeholder="RX_SUN_LENS" [(ngModel)]="RX_SUN_LENS">
            </td>
          </tr>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>NON_RX_SUN_LENS</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" name= "NON_RX_SUN_LENS" placeholder="NON_RX_SUN_LENS" [(ngModel)]="NON_RX_SUN_LENS">
            </td>
          </tr>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>READING_LENS</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" name= "READING_LENS" placeholder="READING_LENS" [(ngModel)]="READING_LENS">
            </td>
          </tr>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>PLANO_LENS</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" name= "PLANO_LENS" placeholder="PLANO_LENS" [(ngModel)]="PLANO_LENS">
            </td>
          </tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>PRG_STANDARD_LENS</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" name= "PRG_STANDARD_LENS" placeholder="PRG_STANDARD_LENS" [(ngModel)]="PRG_STANDARD_LENS">
            </td>
          </tr>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>PRG_HIGH_INDEX_LENS</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" name= "PRG_HIGH_INDEX_LENS" placeholder="PRG_HIGH_INDEX_LENS" [(ngModel)]="PRG_HIGH_INDEX_LENS">
            </td>
          </tr>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>PRG_RX_SUN_LENS</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" name= "PRG_RX_SUN_LENS" placeholder="PRG_RX_SUN_LENS" [(ngModel)]="PRG_RX_SUN_LENS" >
            </td>
          </tr>
        </div>
      </div>
    </fieldset>


    <fieldset>
      <h3>Original Prices For Sale</h3>
      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>STANDARD_INDEX_LENS</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" name= "STANDARD_INDEX_LENS_measure" placeholder="STANDARD_INDEX_LENS_measure"  [(ngModel)]="STANDARD_INDEX_LENS_measure">
            </td>
          </tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>NON_RX_SUN_LENS</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" name= "mernonRxSunLENS" placeholder="mernonRxSunLENS"  [(ngModel)]="mernonRxSunLENS">
            </td>
          </tr>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <h3>Measurements</h3>
      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>bridge</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" name= "bridge" placeholder="bridge" [(ngModel)]="bridge">
            </td>
          </tr>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>lens_height</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" name= "lens_heightt" placeholder="lens_heightt" [(ngModel)]="lens_heightt">
            </td>
          </tr>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>lens_heigh</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" name= "lens_heigh" placeholder="lens_heigh" [(ngModel)]="lens_heigh">
            </td>
          </tr>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>lens_width</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId"  name= "lens_width"  placeholder="lens_width" [(ngModel)]="lens_width">
            </td>
          </tr>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <tr>
            <td class="td-style">
              <b>temple</b>&nbsp;&nbsp;
            </td>
            <td>
              <input type="number" class="form-control ng-pristine ng-valid"  id="productId" placeholder="temple" name= "temple"  [(ngModel)]="temple">
            </td>
          </tr>
        </div>
      </div>
      <fieldset>
        <input type="button" align="center" class="btn btn-primary"  id="button2" (click)="createProduct(form.value)" value="save">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
