<div *ngIf='token'>
  <nav class="navbar navbar-expand-lg navbar-light rounded">
    <a class="navbar-brand nbrand" routerLink="/home">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav mr-auto">
        <div class="dropdown">
          <button class="dropbtn">Orders</button>
          <li class="dropdown-content">
            <a [routerLink]="['/orders', 'eyewear']">Eyewear</a>
            <a href="orderhtk">Home Trial Kits</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Letterpress</button>
          <li class="dropdown-content">
            <a [routerLink]="['/letterpress','classicspecs' ]">classicspecs</a>
            <a [routerLink]="['/letterpress','ano' ]">ano</a>
            <a [routerLink]="['/letterpress','billyreid' ]">billyreid</a>
            <a [routerLink]="['/letterpress','jasonwu' ]">jasonwu</a>
            <a [routerLink]="['/letterpress','jwas' ]">johnnywas</a>
            <a [routerLink]="['/letterpress','ottavo' ]">ottavo</a>
            <a [routerLink]="['/letterpress','stevenalanoptical' ]">stevenalanoptical</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Inventory</button>
          <li class="dropdown-content">
            <a [routerLink]="['/inventory','ano' ]">ano</a>
            <a [routerLink]="['/inventory','classicspecs' ]">classicspecs</a>
            <a [routerLink]="['/inventory','billyreid' ]">billyreid</a>
            <a [routerLink]="['/inventory','jasonwu' ]">jasonwu</a>
            <a [routerLink]="['/inventory','jwas' ]">johnnywas</a>
            <a [routerLink]="['/inventory','ottavo' ]">ottavo</a>
            <a [routerLink]="['/inventory','stevenalanoptical' ]">stevenalanoptical</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Users</button>
          <li class="dropdown-content">
            <a [routerLink]="['/user','classicspecs' ]">classicspecs</a>
            <a [routerLink]="['/user','ano' ]">ano</a>
            <a [routerLink]="['/user','billyreid' ]">billyreid</a>
            <a [routerLink]="['/user','jasonwu' ]">jasonwu</a>
            <a [routerLink]="['/user','johnnywas' ]">johnnywas</a>
            <a [routerLink]="['/user','ottavo' ]">ottavo</a>
            <a [routerLink]="['/user','stevenalanoptical' ]">stevenalanoptical</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Discount Codes</button>
          <li class="dropdown-content">
              <a [routerLink]="['/discount','classicspecs' ]">classicspecs</a>
              <a [routerLink]="['/discount','ano' ]">ano</a>
              <a [routerLink]="['/discount','billyreid' ]">billyreid</a>
              <a [routerLink]="['/discount','jasonwu' ]">jasonwu</a>
              <a [routerLink]="['/discount','johnnywas' ]">johnnywas</a>
              <a [routerLink]="['/discount','ottavo' ]">ottavo</a>
              <a [routerLink]="['/discount','stevenalanoptical' ]">stevenalanoptical</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Store Locations</button>
          <li class="dropdown-content">
              <a [routerLink]="['/store','classicspecs' ]">classicspecs</a>
              <a [routerLink]="['/store','ano' ]">ano</a>
              <a [routerLink]="['/store','billyreid' ]">billyreid</a>
              <a [routerLink]="['/store','jasonwu' ]">jasonwu</a>
              <a [routerLink]="['/store','johnnywas' ]">johnnywas</a>
              <a [routerLink]="['/store','ottavo' ]">ottavo</a>
              <a [routerLink]="['/store','stevenalanoptical' ]">stevenalanoptical</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Send ERP Request</button>
          <li class="dropdown-content">
            <a [routerLink]="['/sendErp','ano' ]">ano</a>
            <a [routerLink]="['/sendErp','billyreid' ]">billyreid</a>
            <a [routerLink]="['/sendErp','classicspecs' ]">classicspecs</a>
            <a [routerLink]="['/sendErp','jasonwu' ]">jasonwu</a>
            <a [routerLink]="['/sendErp','johnnywas' ]">johnnywas</a>
            <a [routerLink]="['/sendErp','ottavo' ]">ottavo</a>
            <a [routerLink]="['/sendErp','stevenalanoptical' ]">stevenalanoptical</a>
          </li>
        </div>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login"><button class="button2" type="button" name="button" (click)='logout()'>logout</button></a></li>
      </ul>
    </div>

  </nav>
</div>
