<app-navbar></app-navbar>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-18 col-sm-12">
      <h2>
        select a brand
      </h2>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <ul class="nav-pills nav-stacked">
              <li>
                <p class="makeMeAnchor" (click)="getOrders('ano')" >ano</p>
              </li>
              <li>
                <p class="makeMeAnchor" (click)="getOrders('billyreid')" >billyreid</p>
              </li>
              <li>
                <p class="makeMeAnchor" (click)="getOrders('classicspecs')" >classicspecs</p>
              </li>
              <li>
                <p class="makeMeAnchor" (click)="getOrders('jasonwu')" >jasonwu</p>
              </li>
              <li>
                <p class="makeMeAnchor" (click)="getOrders('johnnywas')" >johnnywas</p>
              </li>
              <li>
                <p class="makeMeAnchor" (click)="getOrders('ottavo')" >ottavo</p>
              </li>
              <li>
                <p class="makeMeAnchor" (click)="getOrders('stevenalanoptical')" >stevenalanoptical</p>
              </li>
            </ul>
          </div>
          <div class="col-md-10">
            <ul class="nav nav-tabs">
              <li><a href="#">Processing</a></li>
              <li><a href="#">At Lab</a></li>
              <li><a href="#">Unshipped</a></li>
            </ul>
            <form method="POST">
              <table class="table table-condensed table-bordered">
                <tr>
                  <th>Order</th>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Item</th>
                  <th>Lens</th>
                  <th>Action</th>
                  <th>Total</th>
                </tr>
                <tbody *ngFor="let order of orderData">
                  <tr class="firstTd">
                      <td>{{order.order_id}}</td>
                      <td>{{order.ordered_at}}</td>
                      <td>{{order.customer.name}}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>{{order.totals.total}}</td>
                  </tr>
                  <tr *ngFor="let item of order.items.eyewear.items">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{item.product_id}}</td>
                    <td>{{item.lens_type}}</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <!--

            -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
