<div class="container">
  <div class="row">
    <div class="col-xs-18 col-sm-12">
      <h1>
        select a brand
      </h1>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a href="/orders/eyewear/ano/processing/">ano</a>
              </li>
              <li>
                <a href="/orders/eyewear/billyreid/processing/">billyreid</a>
              </li>
              <li>
                <a href="/orders/eyewear/classicspecs/processing/">classicspecs</a>
              </li>
              <li>
                <a href="/orders/eyewear/jasonwu/processing/">jasonwu</a>
              </li>
              <li>
                <a href="/orders/eyewear/johnnywas/processing/">johnnywas</a>
              </li>
              <li>
                <a href="/orders/eyewear/ottavo/processing/">ottavo</a>
              </li>
              <li>
                <a href="/orders/eyewear/stevenalanoptical/processing/">stevenalanoptical</a>
              </li>
            </ul>
          </div>
          <div class="col-md-10">
            <ul class="nav nav-tabs">
              <li><a href="#">Processing</a></li>
              <li><a href="#">At Lab</a></li>
              <li><a href="#">Unshipped</a></li>
            </ul>
            <form method="POST">
              <table class="table table-condensed table-bordered">
                <tr>
                  <th>Order</th>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Item</th>
                  <th>Lens</th>
                  <th>Action</th>
                  <th>Total</th>
                </tr>
              </table>
              <!--

            -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
