.myDiv{
    width: 60%;
    margin-left: 10%
}
#itemPrice:hover{
    cursor:pointer;
    color:#154360;
    text-decoration:underline;
}
#itemPrice{
    color:#5499C7;
}
.button2 {
    background-color: #2E86C1;
    color: #D6EAF8;
    border: 1px solid #2E86C1;
    border-radius: .2em;
}

.button2:hover {
    background-color: #2E86C1;
    color: white;
}
