<div *ngIf='token'>
  <nav class="navbar navbar-expand-lg navbar-light rounded">
    <a class="navbar-brand nbrand" routerLink="/home">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav mr-auto">
        <div class="dropdown">
          <button class="dropbtn">Orders</button>
          <li class="dropdown-content">
            <a href="#">Eyewear</a>
            <a href="#">Home Trial Kits</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Letterpress</button>
          <li class="dropdown-content">
            <a href="#">ano</a>
            <a href="#">billyreid</a>
            <a href="#">classicspecs</a>
            <a href="#">jasonwu</a>
            <a href="#">johnnywas</a>
            <a href="#">ottavo</a>
            <a href="#">stevenalanoptical</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Inventory</button>
          <li class="dropdown-content">
            <a href="#">ano</a>
            <a href="#">billyreid</a>
            <a href="#">classicspecs</a>
            <a href="#">jasonwu</a>
            <a href="#">johnnywas</a>
            <a href="#">ottavo</a>
            <a href="#">stevenalanoptical</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Users</button>
          <li class="dropdown-content">
            <a href="#">ano</a>
            <a href="#">billyreid</a>
            <a href="#">classicspecs</a>
            <a href="#">jasonwu</a>
            <a href="#">johnnywas</a>
            <a href="#">ottavo</a>
            <a href="#">stevenalanoptical</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Discount Codes</button>
          <li class="dropdown-content">
            <a href="#">ano</a>
            <a href="#">billyreid</a>
            <a href="#">classicspecs</a>
            <a href="#">jasonwu</a>
            <a href="#">johnnywas</a>
            <a href="#">ottavo</a>
            <a href="#">stevenalanoptical</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Store Locations</button>
          <li class="dropdown-content">
            <a href="#">ano</a>
            <a href="#">billyreid</a>
            <a href="#">classicspecs</a>
            <a href="#">jasonwu</a>
            <a href="#">johnnywas</a>
            <a href="#">ottavo</a>
            <a href="#">stevenalanoptical</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Send ERP Request</button>
          <li class="dropdown-content">
            <a href="#">ano</a>
            <a href="#">billyreid</a>
            <a href="#">classicspecs</a>
            <a href="#">jasonwu</a>
            <a href="#">johnnywas</a>
            <a href="#">ottavo</a>
            <a href="#">stevenalanoptical</a>
          </li>
        </div>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login"><button class="button2" type="button" name="button" (click)='logout()'>logout</button></a></li>
      </ul>
    </div>

  </nav>
</div>
<router-outlet></router-outlet>
