<app-product-navbar></app-product-navbar>
<br>
<div class="container">
    <h5 align="left">Search <input type="text" name="search" [(ngModel)]="filter"></h5>
        <table class="table table-condensed table-bordered">
            <tr>
                <th [class.active]="order === 'name'" (click)="setOrder('name')">Name<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
                <th [class.active]="order === 'product_id'" (click)="setOrder('product_id')">ProductID<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
                <th [class.active]="order === 'color'" (click)="setOrder('color')">Color<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
                <th [class.active]="order === 'product_gender'" (click)="setOrder('product_gender')">Product Gender<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
                <th [class.active]="order === 'sunwear'" (click)="setOrder('sunwear')">Sun/Opticals<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
                <th [class.active]="order === 'incomplete'" (click)="setOrder('incomplete')">Incomplete<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
                <th></th>
            </tr>
            <tbody *ngFor="let product of productData | orderBy: order :reverse:'case-insensitive' | filter:filter ">
                <tr>
                    <td>{{product.name}}</td>
                    <td><a [routerLink]="['./',product.product_id ]">{{product.product_id}}</a></td>
                    <td>{{product.color}}</td>
                    <td><ng-container *ngIf="product.product_gender == 1">
                        <td>Mens's</td>
                    </ng-container>
                    <ng-container *ngIf="product.product_gender == 2">
                        <td>women's</td>
                    </ng-container></td>
                    <td>
                    <ng-container *ngIf="product.sunwear == 0">
                        <td>Eyewear</td>
                    </ng-container>
                    <ng-container *ngIf="product.sunwear == 1">
                        <td>sunwear</td>
                    </ng-container>
                    </td>
                    <td><ng-container *ngIf="product.incomplete == 0">
                        <td>false</td>
                    </ng-container></td>
                    <td id=assests><a [routerLink]="['./assests',product.product_id]">assests</a></td>
                </tr>
            </tbody>
    </table>
</div>
