.dropbtn {
    background-color: #D6EAF8;
    color: #2E86C1;
    padding: 5px 15px 5px 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.nbrand{
  color: #2E86C1;
  font-weight: inherit;
  font-size: 30px;
  font-style: normal;
}
.nbrand:hover{
  font-style: oblique;
  color: #2E86C1;
  text-decoration: none;
}

nav{
  background-color: #D6EAF8;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D6EAF8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #2E86C1;
    padding: 1px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #2E86C1;
  color: #D6EAF8;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2E86C1;
    color: #D6EAF8;
}
.button2 {
    background-color: #2E86C1;
    color: #D6EAF8;
    border: 1px solid #2E86C1;
    border-radius: .2em;
}

.button2:hover {
    background-color: #2E86C1;
    color: white;
}
#assests{
    cursor:pointer;
    color:#154360;
    text-decoration:underline;
}
#assests{
    color:#5499C7;
}
tr{
    font-size: 14px;
}
