<app-navbar></app-navbar>
<br>
<div class="container" *ngIf='token && state && !foundUser && !updateUserPage'>
  <div class="row">
    <div class="col-xs-18 col-md-12">
      <h1>{{brand}}</h1><br>show
      <select [(ngModel)]="selectedValue" class="box">
        <option [ngValue] = "10">10</option>
        <option [ngValue] = "25">25</option>
        <option [ngValue] = "50">50</option>
        <option [ngValue] = "100">100</option>
      </select>entries
      <h5 align="right">Search <input type="text" name="search" [(ngModel)]="filter"></h5>
      <table class="table table-bordered" id="tableBorder">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of data | filter:filter | paginate: { itemsPerPage: selectedValue, currentPage: CurrentPageValue}">
          <td id="user" (click)="showUser(user.email)">{{user.first_name}}</td>
          <td>{{user.email}}</td>
        </tbody>
      </table>
      <br>
      show {{(CurrentPageValue * selectedValue)-selectedValue}} to {{CurrentPageValue * selectedValue + selectedValue -selectedValue}} of {{data.length}} entries
      <div class="formatting">
        <pagination-controls (pageChange)="CurrentPageValue = $event" maxSize="10"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<div *ngIf="foundUser && !updateUserPage" class="container">
  <div class="row">
    <div class="col-xs-18 col-sm-12">
      <h2>
        {{brand}}: {{foundUser.first_name}} {{foundUser.last_name}}
        <p class="makeMeAnchor" (click)="updateUser(foundUser.email,foundUser.first_name,foundUser.last_name)">Edit</p>
      </h2>
      <table class="table">
        <tbody><tr>
          <td>First Name</td>
          <td>{{foundUser?.first_name}}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{foundUser?.last_name}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{foundUser?.email}}</td>
        </tr>
        <tr>
          <td>Marketing Email Optin</td>
          <td>{{foundUser?.marketing?.email_opt_in}}</td>
        </tr>
        <tr>
          <td>Date of Birth</td>
          <td>{{foundUser?.dob}}</td>
        </tr>
        <tr>
          <td>Available Store Credits</td>
          <td>
            <table width="100%" cellpadding="1" cellspacing="0">
              <tbody><tr>
                <th>Credit Id</th>
                <th>Order Id</th>
                <th>Issued On</th>
                <th>Credit Available</th>
                <th>Revert Credit</th>
              </tr>
            </tbody></table>
          </td>
        </tr>
        <tr>
          <td>Addresses</td>
          <td>
            {{foundUser?.addresses[0]?.first_name}}<br>
            {{foundUser?.addresses[0]?.last_name}}<br>
            {{foundUser?.addresses[0]?.address1}}<br>
            {{foundUser?.addresses[0]?.address2}}<br>
            {{foundUser?.addresses[0]?.city}}<br>
            {{foundUser?.addresses[0]?.country}}<br>
            <br>
          </td>
        </tr>
        <tr>
          <td>Rx</td>
          <td *ngFor = "let rx of foundUser.rx">
            <b>{{rx?.name_on_rx}}</b><br>
            <br>RX_SEND_LATER<br>
            <h6><table id="tabletime" border="1" cellpadding="0" cellspacing="0">
              <tr>
                <th>&nbsp;</th>
                <th>SP</th>
                <th>CYL</th>
                <th>AX</th>
                <th>ADD</th>
                <th>SEG HT</th>
                <th>PD MONO</th>
              </tr>
              <tr>
                <th>OD</th>
                <td>{{rx?.right?.sphere}}</td>
                <td>{{rx?.right?.cylinder}}</td>
                <td>{{rx?.right?.axis}}</td>
                <td>{{rx?.right?.add}}</td>
                <td>{{rx?.right?.seg_height}}</td>
                <td>None</td>
              </tr>
              <tr>
                <th>OS</th>
                <td>{{rx?.left?.sphere}}</td>
                <td>{{rx?.left?.cylinder}}</td>
                <td>{{rx?.left?.axis}}</td>
                <td>{{rx?.left?.add}}</td>
                <td>{{rx?.left?.seg_height}}</td>
                <td>None</td>
              </tr>
            </table>
          </h6>
        </td>
        </tr>
        <tr>
          <td>Orders</td>
          <td>
            <div class="row">
              <div class="col-sm-3">Order Id</div>
              <div class="col-sm-3">Orderd At</div>
              <div class="col-sm-3">Order Net</div>
              <div class="col-sm-3">Discount</div>
            </div>
            <div class="row" style="border: 1px solid black" *ngFor="let myOrd of userOrder">
              <div class="col-sm-3"><a href="/orders/billyreid/17917/view">{{myOrd?.order_number}}</a></div>
              <div class="col-sm-3">{{myOrd?.ordered_at}}</div>
              <div class="col-sm-3">{{myOrd?.order_net}}</div>
              <div class="col-sm-3">{{myOrd?.discount_type}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>API</td>
          <td>
            <a href="/users/billyreid/test+28%40eponymous.co/api">don't touch this</a>
          </td>
        </tr>
      </tbody></table>
      <div id="revertModal" class="modal fade modal-lg" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h4 class="modal-title">Revert Store Credit</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4">Reason</div>
                <div class="col-md-8"><input type="text" id="reason" name="reason" class="form-control"></div>
              </div>
              <input type="hidden" name="credit_id" id="credit_id" value="">
              <input type="hidden" name="amount" id="amount" value="">
              <input type="hidden" name="brand_id" id="brand_id" value="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default modal_revert_btn">Revert Credit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf='updateUserPage'>
  <div class="row">
    <div class="col-xs-18 col-sm-12">
      <div class="alert alert-info" *ngIf="resetMsg">Password reset link sent to user</div>
      <h2>{{brand}}:{{firstName}} {{lastName}}</h2>
      <form id="user_form">
        <table class="table">
          <tr>
            <td>First Name</td>
            <td><input type="text" class="form-control" name="first_name" value="{{firstName}}" #first_name /></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td><input type="text" class="form-control" name="last_name" value="{{lastName}}" #last_name /></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input type="text" class="form-control" name="email" value="{{userEmail}}" #email /></td>
          </tr>
          <tr>
            <td>Marketing Email Optin</td>
            <td><input type="checkbox" class="input-lg" name="marketing.email_opt_in" #marketing /></td>
          </tr>
        </table>
        <input type="button" class="button2" (click)="saveUser(first_name.value, last_name.value, email.value, marketing.value.checked)"value="Save">
        <input type="button" class="button2" (click)="cancel()" value="Cancel">
        <input type="button" class="button2" (click)="resetPassword(userEmail)" value="Reset Password">
        <br>
        <div id="status"></div>
      </form>
    </div>
  </div>
</div>
