<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-xs-18 col-md-12">
            <h1>{{brand}}</h1><br>show
            <select [(ngModel)]="selectedValue">
                <option [ngValue] = "10">10</option>
                <option [ngValue] = "25">25</option>
                <option [ngValue] = "50">50</option>
                <option [ngValue] = "100">100</option>
            </select>entries
            <h5 align="right">Search <input type="text" name="search" [(ngModel)]="filter"></h5>
            <table class="table table-bordered" id="tableBorder">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody *ngFor="let user of data | filter:filter | paginate: { itemsPerPage: selectedValue, currentPage: CurrentPageValue}">
                        <td>{{user.first_name}}</td>
                        <td>{{user.email}}</td>
            </tbody>
            </table>
            <br>
            show {{(CurrentPageValue * selectedValue)-selectedValue}} to {{CurrentPageValue * selectedValue + selectedValue -selectedValue}} of {{data.length}} entries
            <div class="formatting">
                <pagination-controls (pageChange)="CurrentPageValue = $event" maxSize="10"></pagination-controls>
            </div>
        </div>
    </div>
</div>
