<div *ngIf='token'>
  <nav class="navbar navbar-expand-lg navbar-light rounded">
    <a class="navbar-brand nbrand" href="#">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav mr-auto">
        <div class="dropdown">
          <button class="dropbtn">Orders</button>
          <li class="dropdown-content">
            <a href="#">Eyewear</a>
            <a href="#">Home Trial Kits</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Letterpress</button>
          <li class="dropdown-content">
            <a href="#">ano</a>
            <a href="#">billyreid</a>
            <a href="#">classicspecs</a>
            <a href="#">jasonwu</a>
            <a href="#">johnnywas</a>
            <a href="#">ottavo</a>
            <a href="#">stevenalanoptical</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Inventory</button>
          <li class="dropdown-content">
            <a href="#">ano</a>
            <a href="#">billyreid</a>
            <a href="#">classicspecs</a>
            <a href="#">jasonwu</a>
            <a href="#">johnnywas</a>
            <a href="#">ottavo</a>
            <a href="#">stevenalanoptical</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Users</button>
          <li class="dropdown-content">
            <a href="#">ano</a>
            <a href="#">billyreid</a>
            <a href="#">classicspecs</a>
            <a href="#">jasonwu</a>
            <a href="#">johnnywas</a>
            <a href="#">ottavo</a>
            <a href="#">stevenalanoptical</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Discount Codes</button>
          <li class="dropdown-content">
            <a href="#">ano</a>
            <a href="#">billyreid</a>
            <a href="#">classicspecs</a>
            <a href="#">jasonwu</a>
            <a href="#">johnnywas</a>
            <a href="#">ottavo</a>
            <a href="#">stevenalanoptical</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Store Locations</button>
          <li class="dropdown-content">
            <a href="#">ano</a>
            <a href="#">billyreid</a>
            <a href="#">classicspecs</a>
            <a href="#">jasonwu</a>
            <a href="#">johnnywas</a>
            <a href="#">ottavo</a>
            <a href="#">stevenalanoptical</a>
          </li>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Send ERP Request</button>
          <li class="dropdown-content">
            <a href="#">ano</a>
            <a href="#">billyreid</a>
            <a href="#">classicspecs</a>
            <a href="#">jasonwu</a>
            <a href="#">johnnywas</a>
            <a href="#">ottavo</a>
            <a href="#">stevenalanoptical</a>
          </li>
        </div>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><button class="button2" type="button" name="button" (click)='logout()'>logout</button></a></li>
      </ul>
    </div>
  </nav>



  <pre>You possess a mind not merely twisted, but actually sprained.
  </pre>

  <ul>
    <li>
      Product management
      <ul>
        <li>
          Product dashboard

          [<a href="#" onclick="window.open('//' + window.location.hostname + ':8888/#/ano/products')">ano</a>]

          [<a href="#" onclick="window.open('//' + window.location.hostname + ':8888/#/billyreid/products')">billyreid</a>]

          [<a href="#" onclick="window.open('//' + window.location.hostname + ':8888/#/classicspecs/products')">classicspecs</a>]

          [<a href="#" onclick="window.open('//' + window.location.hostname + ':8888/#/jasonwu/products')">jasonwu</a>]

          [<a href="#" onclick="window.open('//' + window.location.hostname + ':8888/#/johnnywas/products')">johnnywas</a>]

          [<a href="#" onclick="window.open('//' + window.location.hostname + ':8888/#/ottavo/products')">ottavo</a>]

          [<a href="#" onclick="window.open('//' + window.location.hostname + ':8888/#/stevenalanoptical/products')">stevenalanoptical</a>]

        </li>
        <li>
          Bust cache

          [<a href="#" data-brand="ano" data-branch="develop" class="cache-bust-link">ano</a>]

          [<a href="#" data-brand="billyreid" data-branch="develop" class="cache-bust-link">billyreid</a>]

          [<a href="#" data-brand="classicspecs" data-branch="develop" class="cache-bust-link">classicspecs</a>]

          [<a href="#" data-brand="jasonwu" data-branch="develop" class="cache-bust-link">jasonwu</a>]

          [<a href="#" data-brand="johnnywas" data-branch="develop" class="cache-bust-link">johnnywas</a>]

          [<a href="#" data-brand="ottavo" data-branch="develop" class="cache-bust-link">ottavo</a>]

          [<a href="#" data-brand="stevenalanoptical" data-branch="develop" class="cache-bust-link">stevenalanoptical</a>]

          <div id="bust-cache-msg"></div>
        </li>
        <li>
          <a id="pop1">Add available UPC codes</a><br>
          <!-- <div class="panel panel-default" style="padding: 20px;width: 400px"> -->
          <div id="form1" class="pop">
            <form class="form-inline" id="upload_upc_codes" method="POST" action="/upc_codes" enctype="multipart/form-data">
              <div class="form-group">
                <label for="batchname" class="form-label">Batch Name
                </label>
                <div>
                  <input type="text" name="batchname" class="form-control">
                </div>
              </div>
              <br><br>
              <div class="form-group">
                <label for="available_upc_codes" class="form-label">Select file
                </label>
                <input type="file" class="file" name="available_upc_codes">
              </div>
              <button type="submit" value="Save" class="btn btn-primary btn-sm" style="float: right;margin-right: 10px">Upload</button>
            </form>
          </div>
        </li>
        <li>
          <a id="pop2">Email UPC Code Report</a><br>
          <!-- <div class="panel panel-default" style="padding: 20px;width: 400px"> -->
          <div id="form2" class="pop">
            <form class="form-inline" method="POST" id="email_upc_codes" action="/reports/email_upc_codes">
              <div class="form-group">
                <label for="reportbatchname" class="form-label">Batch Name
                </label>
                <div>
                  <select name="reportbatchname" class="custom-select">

                    <option value="Batch 2">Batch 2</option>

                  </select>
                </div>
              </div>
              <button type="submit" value="Save" class="btn btn-primary btn-sm" style="float: right;margin-right: 10px">Get Report</button>
            </form>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
